doctype xml

document
  head
    style= require('./styles.styl')

  stackTemplate

    //- We put an empty banner here to prevent the carousel from being
    //- too high up and offscreen too much.
    banner

    collectionList

      each shelf in index
        shelf.shelf
          header
            title= shelf.title

          section
            each item in shelf.episodes
              lockup(route='/' + item.href)
                img(src=item.thumbnail width="455" height="256")

                if item.title
                  title.cardSubtitle= item.seriesTitle
                  title.cardTitle= item.title
                else
                  title.cardTitle= item.seriesTitle

                //- We make an empty title and give it a height to add
                //- slightly more padding between the shelves
                title.shelfSpacer= ' '
